## Task 1: Data Cleaning and Preprocessing  
Objective: Clean and prepare a raw dataset (with nulls, duplicates, inconsistent formats).

In [1]:
import pandas as pd

## Pre-EDA

In [9]:
data = pd.read_csv(r"C:\Users\Rishabh Kumar\Desktop\DataX Labs\car_prices.csv\car_prices.csv")
data.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

In [11]:
data.shape   # shape of the data (rows, columns)

(558837, 16)

In [12]:
data.columns   # name of the columns in data

Index(['year', 'make', 'model', 'trim', 'body', 'transmission', 'vin', 'state',
       'condition', 'odometer', 'color', 'interior', 'seller', 'mmr',
       'sellingprice', 'saledate'],
      dtype='object')

Observation: Column names are well formatted, found no space and capital letters.  
Opinion: No need to do any changes in column header.

### Column name and description
year: the manufacturing year of the vehicle  
make: the brand or the manufacturer of the vehicle  
model: specific model of the vehicle  
trim: additional designation for the vehicle model  
body:  The body type of the vehicle (e.g., SUV, Sedan)  
transmission:  The type of transmission in the vehicle (e.g., automatic)  
vin:  Vehicle Identification Number, a unique code for each vehicle  
state:  The state where the vehicle is registered  
condition:  Condition of the vehicle, possibly rated on a scale  
odometer:  The mileage or distance travelled by the vehicle  
colour: Exterior colour of the vehicle  
interior:  Interior colour of the vehicle  
seller:  The entity selling the vehicle  
MMR:  Manheim Market Report, possibly indicating the estimated market value of the vehicle  
sellingprice:  The price at which the vehicle was sold  
saledate:  The date and time when the vehicle was sold

In [13]:
data.info()   # no. of non-null and datatypes of all the columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493485 non-null  object
 6   vin           558833 non-null  object
 7   state         558837 non-null  object
 8   condition     547017 non-null  float64
 9   odometer      558743 non-null  float64
 10  color         558088 non-null  object
 11  interior      558088 non-null  object
 12  seller        558837 non-null  object
 13  mmr           558799 non-null  float64
 14  sellingprice  558825 non-null  float64
 15  saledate      558825 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 68.2+ MB

### Columns: current dtypes -> change to dtype  
Observation: saledate dtype is object  
Opinion: change dtype, saledate: object -> datetime

In [17]:
data.describe()   # describes count, mean, min, max, and median for numeric column

,year,condition,odometer,mmr,sellingprice
count,558837.000000,547017.000000,558743.000000,558799.000000,558825.000000
mean,2010.038927,30.672365,68320.017767,13769.377495,13611.358810
std,3.966864,13.402832,53398.542821,9679.967174,9749.501628
min,1982.000000,1.000000,1.000000,25.000000,1.000000
25%,2007.000000,23.000000,28371.000000,7100.000000,6900.000000
50%,2012.000000,35.000000,52254.000000,12250.000000,12100.000000
75%,2013.000000,42.000000,99109.000000,18300.000000,18200.000000
max,2015.000000,49.000000,999999.000000,182000.000000,230000.000000

In [18]:
data.duplicated().sum()                                    # it gives duplicate rows from the data

0

No duplicate row is present in the dataset.

In [27]:
# column (like categorical and numeric) 
cat_col = data.select_dtypes(include='object').columns                # all the columns(categorical / object)
num_col = data.select_dtypes(include=['int64', 'float64']).columns    # all the numerical columns (int / float)

In [33]:
# should be done for categorical columns, it gives insight of no. of unique values and no. of each value in the column 
for col in cat_col: 
    print(col, ": ", data[col].nunique())
    print(data[col].value_counts())

make :  96
Ford          93554
Chevrolet     60197
Nissan        53946
Toyota        39871
Dodge         30710
              ...
airstream         1
ford tk           1
chev truck        1
hyundai tk        1
Lotus             1
Name: make, Length: 96, dtype: int64
model :  973
Altima        19349
F-150         14479
Fusion        12946
Camry         12545
Escape        11861
              ...
rrs               1
golf              1
g500              1
tahoe             1
458 Italia        1
Name: model, Length: 973, dtype: int64
trim :  1963
Base                 55817
SE                   43648
LX                   20757
Limited              18367
LT                   16915
                     ...
xls                      1
series m                 1
4x2 reg silverado        1
4x2 v6 limited           1
Power Wagon              1
Name: trim, Length: 1963, dtype: int64
body :  87
Sedan          199437
SUV            119292
sedan           41906
suv             24552
Hatchback       21380
                ...
cab plus 4          1
g37 coupe           1
CTS-V Wagon         1
Ram Van             1
cts wagon           1
Name: body, Length: 87, dtype: int64
transmission :  4
automatic    475915
manual        17544
sedan            15
Sedan            11
Name: transmission, dtype: int64
vin :  550297
automatic            22
wbanv13588cz57827     5
5uxfe43579l274932     4
trusc28n241022003     4
wddgf56x78f009940     4
                     ..
1p3ew65g7yv603989     1
4t1bf28b1yu016829     1
jtdbt1231y0082703     1
jtddr32t8y0063746     1
1ftfw1et2eke87277     1
Name: vin, Length: 550297, dtype: int64
state :  64
fl                   82945
ca                   73148
pa                   53907
tx                   45913
ga                   34750
                     ...
3vwd17aj2fm285365        1
3vwd17aj3fm276741        1
3vwd17aj2fm258506        1
3vwd17aj4fm201708        1
3vwd17aj2fm261566        1
Name: state, Length: 64, dtype: int64
color :  46
black        110970
white        106673
silver        83389
gray          82857
blue          51139
red           43569
—             24685
green         11382
gold          11342
beige          9222
burgundy       8972
brown          6717
orange         2078
purple         1561
off-white      1449
yellow         1285
charcoal        479
turquoise       236
pink             42
lime             15
9562              1
2846              1
18561             1
18384             1
5705              1
2817              1
6158              1
721               1
20627             1
20379             1
9837              1
9887              1
2172              1
339               1
6864              1
2711              1
11034             1
16633             1
6388              1
15719             1
12655             1
14872             1
1167              1
9410              1
4802              1
5001              1
Name: color, dtype: int64
 :  17or
black        244329
gray         178581
beige         59758
tan           44093
—             17077
brown          8640
red            1363
blue           1143
silver         1104
off-white       480
purple          339
gold            324
white           256
green           245
burgundy        191
orange          145
yellow           20
Name: interior, dtype: int64
seller :  14263
nissan-infiniti lt               19693
ford motor credit company llc    19162
the hertz corporation            18299
santander consumer               15285
avis corporation                 12540
                                 ...
whitney motor company                1
auto max sales inc                   1
lscg fund 19 llc                     1
lexus of santa fe                    1
i -5 uhlmann rv                      1
Name: seller, Length: 14263, dtype: int64
saledate :  3766
Tue Feb 10 2015 01:30:00 GMT-0800 (PST)    5334
Tue Feb 17 2015 01:30:00 GMT-0800 (PST)    5016
Tue Jan 27 2015 01:30:00 GMT-0800 (PST)    4902
Tue Jan 20 2015 01:30:00 GMT-0800 (PST)    4731
Tue Mar 03 2015 01:30:00 GMT-0800 (PST)    4653
                                           ...
Thu Feb 05 2015 05:10:00 GMT-0800 (PST)       1
Thu Jan 02 2014 09:30:00 GMT-0800 (PST)       1
Tue Apr 28 2015 05:50:00 GMT-0700 (PDT)       1
Wed Jan 21 2015 05:45:00 GMT-0800 (PST)       1
Wed Jul 08 2015 09:45:00 GMT-0700 (PDT)       1
Name: saledate, Length: 3766, dtype: int64

### Column:  Standardization
body : needs Standardization(Uppercase and Lowercase are different, so need to be converted into lowercase)  
transmission : needs Standardization(Uppercase and Lowercase are different, so need to be converted into lowercase)

### Columns ,the number of null values present, and percentage of null values

In [51]:
for col in data.columns: 
    print(col, ": " ,data[col].isnull().sum(),"  ", round((data[col].isna().sum() / data.shape[0]) * 100, 2), "%")

year :  0    0.0 %
make :  10301    1.84 %
model :  10399    1.86 %
trim :  10651    1.91 %
body :  13195    2.36 %
transmission :  65352    11.69 %
 :  4    0.0 %
state :  0    0.0 %
condition :  11820    2.12 %
odometer :  94    0.02 %
color :  749    0.13 %
 :  749    0.13 %
seller :  0    0.0 %
mmr :  38    0.01 %
sellingprice :  12    0.0 %
saledate :  12    0.0 %

### Columns and handling missing values
make: fill mode  
model: fill mode grouped by make  
trim: will not affect analysis much    
body: fill with mode   
transmission: impute with group mode  
condition: impute median  
odometer: impute median  
color: fill unknown  
interior: fill unkown  
mmr: impute median 
sellingprice: drop 
saledate: fill mode

## Data Cleaning

#### Things to do
Opinion: change dtype, saledate: object -> datetime  
body : needs generalization(Uppercase and Lowercase are different, so need to be converted into lowercase)  
transmission : needs generalization(Uppercase and Lowercase are different, so need to be converted into lowercase)  

make: fill mode  
model: fill mode grouped by make  
trim: will not affect analysis much  so drop  
body: fill with mode  
transmission: impute with group mode    
vin: drop  
condition: fill with median  
odometer: impute median  
color: fill unknown  
interior: fill unkown  
mmr: impute median   
sellingprice: drop  
saledate: fill mode

In [61]:
data['saledate'] = pd.to_datetime(data['saledate'],utc=True, errors='coerce')
data["saledate"].dtypes

datetime64[ns, UTC]

In [67]:
data["body"] = data["body"].str.lower()
data["transmission"] = data["transmission"].str.lower()

In [71]:
data["make"].fillna(data["make"].mode()[0], inplace=True)

In [76]:
data['model'] = data.groupby('make')['model'].transform(
    lambda x: x.fillna(x.mode()[0] if not x.mode().empty else 'Unknown')
)
data['model'].isna().sum()

0

In [72]:
data.dropna(subset=['trim'], inplace=True)
data["trim"].isnull().sum()

0

In [73]:
data["body"].fillna(data["body"].mode()[0], inplace=True)
data["body"].isnull().sum()

0

In [75]:
data['transmission'] = data.groupby('make')['transmission'].transform(
    lambda x: x.fillna(x.mode()[0] if not x.mode().empty else 'Unknown')
)
data['transmission'].isna().sum()

In [77]:
data["odometer"].fillna(data["odometer"].median(), inplace=True) 
data["odometer"].isna().sum()

0

In [78]:
data["color"].fillna("Unknown", inplace=True)
data["interior"].fillna("Unknown", inplace=True)

In [79]:
data["mmr"].fillna(data["mmr"].median(), inplace=True) 
data["saledate"].fillna(data["saledate"].mode()[0], inplace=True)

In [80]:
data.dropna(subset=["sellingprice"], inplace=True)

In [83]:
data["condition"].fillna(data["condition"].median(), inplace=True)
data["condition"].isna().sum()

0

In [86]:
data.dropna(subset=["vin"], inplace=True) 
data["vin"].isnull().sum()

0

In [87]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 548170 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          548170 non-null  int64
 1   make          548170 non-null  object
 2   model         548170 non-null  object
 3   trim          548170 non-null  object
 4   body          548170 non-null  object
 5   transmission  548170 non-null  object
 6   vin           548170 non-null  object
 7   state         548170 non-null  object
 8   condition     548170 non-null  float64
 9   odometer      548170 non-null  float64
 10  color         548170 non-null  object
 11  interior      548170 non-null  object
 12  seller        548170 non-null  object
 13  mmr           548170 non-null  float64
 14  sellingprice  548170 non-null  float64
 15  saledate      548170 non-null  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), float64(4), int64(1), object(10)
memory usage: 71.1+ MB

In [88]:
data.isnull().sum()

year            0
make            0
model           0
trim            0
body            0
transmission    0
vin             0
state           0
condition       0
odometer        0
color           0
interior        0
seller          0
mmr             0
sellingprice    0
saledate        0
dtype: int64

#### Data is cleaned now and ready for eda

In [90]:
data

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,suv,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,2014-12-16 04:30:00+00:00
1,2015,Kia,Sorento,LX,suv,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,2014-12-16 04:30:00+00:00
2,2014,BMW,3 Series,328i SULEV,sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,2015-01-14 20:30:00+00:00
3,2015,Volvo,S60,T5,sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,2015-01-28 20:30:00+00:00
4,2014,BMW,6 Series Gran Coupe,650i,sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,2014-12-18 04:30:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,sedan,automatic,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,2015-07-09 00:00:00+00:00
558833,2012,Ram,2500,Power Wagon,crew cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,2015-07-08 02:30:00+00:00
558834,2012,BMW,X5,xDrive35d,suv,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,2015-07-08 02:30:00+00:00
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,2015-07-08 23:45:00+00:00
558836,2014,Ford,F-150,XLT,supercrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,2015-05-27 22:30:00+00:00

In [91]:
data.to_csv("Cleaned_Car_sales_data.csv", index=False)

The sales data is cleaned and ready for main EDA.